version: "3.9"

services:

  db:
    image: postgres:15
    container_name: api-db
    environment:
      POSTGRES_DB: api-albuns
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    container_name: api-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  api:
    build: ./backend
    container_name: api-backend
    depends_on:
      - db
      - minio
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/api-albuns
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: api-frontend
    depends_on:
      - api
    environment:
      API_BASE_URL: http://api:8080
    ports:
      - "4200:80"

volumes:
  db-data:
  minio-data:

